:root
{
    --fuenteHeading: 'PT Sans',sans-serif;
    --fuenteParrafos: 'Open Sans',sans-serif;
    

    --primario: #784D3C;
    --gris:#e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;


}

html
{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before, *::after
{
    box-sizing: inherit;

}


/*-----------------GLOBALES--------------------------------*/




a{
    text-decoration: none;
}

h1,h2,h3,h4{
    font-family: var(--fuenteHeading);
    /*-------Interlineado---------------*/
    line-height: 1.2;
}

h1
{
    font-size: 3.5rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.5rem;
}



body
{
    /* aqui vamos a cambiar la tipografia a como nosotros queramos*/
    
    font-size: 1.6rem;
    line-height: 2;
}

/*----------------------------GLOBALES---------------------------*/

.header
{
    background-color:whitesmoke;
    height: 9rem;
    width: auto;
    max-width: 1000rem;
    border-bottom:0.5rem solid var(--negro);
    
    
}


.Navegacion
{
   
    display: flex;
    justify-content:space-evenly;
    align-content: center;
    max-width: 120rem;
    width:auto;
    

}

.navegacion_principal
{
    
    color:white;
    
}

.Logotipo_ballet
{
   
    padding: 2rem 0rem;
    
}

.box
{
    width: 180px;
    height: 120px;
    padding: 0rem 0rem 2rem 0rem;
}


  
img {
    height: 100%;
    width: 100%;
}

/**Utilidades**/
.no-margin
{
    margin:0;
}

.no-padding 
{
    padding: 0;
}

.centrar-texto
{
    text-align: center;
    
}
/*-------------Utilidades*/ 

.cover {
    object-fit: cover;
  }

.Navv
{
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
    
}

#listamenu > li { 
    position: relative; 
    display: inline-block; 
    height: 35px; 
    padding: 15px 10px 0px 10px; 
    margin-right: 5px; 
   } 

#listamenu li > ul { 
    display: none; 
    position: absolute; 
    top: 50px; 
    left: 0px; 
    background-color: white; 
    box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.7); 
    border-radius: 0px 0px 5px 5px; 
    list-style: none; 
    z-index: 1000; 
   } 

#listamenu li > ul > li { 
    width: 120px; 
    height: 45px; 
    padding-top: 15px; 
    padding-left: 10px; 
   } 

#listamenu li:hover ul { 
    display: block; 
   } 

#listamenu a { 
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:black; 
    text-decoration: none; 
    font-size: 2rem;
   } 

.img-responsive
{
    width: auto;
    height: 66rem;
    border-bottom:0.2rem solid var(--negro);
    
    
}


.contain {
    object-fit: contain;
}

.estilo-portada
{
    font-family: 'Oswald', sans-serif;
}



/*-----------------------------------------------Contenido principal--------------------------------------*/ 


.contenido-principal
{
    position: relative;
}

.contenido-principal .bloques
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.contenido-principal .bloques .columna
{
    max-width: 50%;
    width: 50%;
    flex: 0 0 50%;
}

.contenido-principal .bloques .columna .texto-padding
{
    padding: 20px;
}

.contenido-principal .bloques .columna .texto-padding .texto 
{
    text-align: center;
    font-family: 'Cormorant', serif;
    font-size: 28px;
    font-weight: 500;

}


.contenido-principal .bloques .orden1
{
    order: 2;
}

.contenido-principal .bloques .orden2
{
    order: 1;
}

.contenido-principal .bloques .columna .texto-padding .Referencia
{
    color: #000000;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;

}

#Frase_inicio .margen-texto .centrar-texto .texto
{
    text-align: center;
    font-family: 'Cormorant', serif;
    font-size: 28px;
    font-weight: 500;
}

.ReferenciaI
{
    color: #000000;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
    
}



/*-----------------------------Formulario-------------------*/

.formulario
{
    background-color: var(--gris);
    width: min(60rem,100%);
    margin:0 auto;
    /*Usarlo cuando el padre no 
    tenga un display flex en vez 
    del center*/
    padding: 2rem;
    border-radius: 2rem;
}

.formulario fieldset
{
    border: none;

}
 
.formulario legend
{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);


}

@media (min-width: 758px) 
{
    .contenedor-campos
    {
    display: grid;
    grid-template-columns:1fr 1fr ;
    column-gap: 2rem;
    grid-template-rows: auto auto 20rem;

    }

    .campo:nth-child(3),.campo:nth-child(4)
    {
        grid-column: 1 /3;

    }

  
}

.contenedor-campos
{
    display: grid;


}

.campo
{
    margin-bottom: 1rem;



}

.campo label
{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;


    
}

/*
.campo input[type="text"],
.campo input[type="tel"]
{
    background-color: red;
}
*/

.campo textarea
{
    height: 20rem;

}

.input-text
{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;

}

/**footer*/

.footer
{
    text-align: center;
    background-color: #000000;

}


.contenedor-footer
{
    display: flex;
    color: white;
    justify-content: space-evenly;
    
    


}

.contenedor-footer2
{
    padding-top: 2rem;
    display: flex;
    
    
}

















